<%= error_messages_for :employee %>
<% form_for :employee, :url => employees_path do |f| -%>
<p><label for="login">Login</label><br/>
<%= f.text_field :login %></p>

<p><%= submit_tag 'Sign up' %></p>
<% end -%>
